## Data Munging

#### Step 1: Imports and reading the data:

In [204]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

##### Reading Data

In [205]:
df_coaster_metrics = pd.read_csv('../d_coaster_metrics_original.csv', index_col= 'Coaster_ID')
df_park_locations = pd.read_csv('../d_park_locations_original.csv', index_col= 'Park_ID')
df_wood_coasters = pd.read_csv('../d_wood_coasters_original.csv')
df_steel_coasters = pd.read_csv('../d_steel_coasters_original.csv')

#### Step 2: Understanding the Data:
- shape
- head/tail
- columns
- dtypes
- info/describe

##### Coaster Metrics:

In [206]:
def print_shape(dataset):
    print(f'Dataset shape: {dataset.shape}')
    print(f'No. of rows: {dataset.shape[0]}')
    print(f'No. of columns: {dataset.shape[1]}')

print_shape(df_coaster_metrics)

Dataset shape: (272, 10)
No. of rows: 272
No. of columns: 10

In [207]:
df_coaster_metrics.head(10)

,Name,material_type,seating_type,speed,height,length,num_inversions,manufacturer,Park,status
Coaster_ID,,,,,,,,,,
1,Afterburn,Steel,Inverted,100.0,34.0,900.0,6.0,B&M,Carowinds,status.operating
2,Alpengeist,Steel,Inverted,108.0,60.0,NaN,6.0,B&M,Busch Gardens Williamsburg,status.operating
3,American Thunder,Wooden,Sit Down,77.0,25.0,827.0,0.0,GCI,Six Flags St. Louis,status.operating
4,Apocalypse,Wooden,Sit Down,89.0,31.0,869.0,0.0,GCI,Six Flags Magic Mountain,status.closed.temporarily
5,Apollo's Chariot,Steel,Sit Down,118.0,52.0,1488.0,0.0,B&M,Busch Gardens Williamsburg,status.operating
6,Aska,Wooden,Sit Down,80.0,30.0,1081.0,0.0,Intamin,Nara Dreamland,status.closed.definitely
7,Avalanche,Wooden,Sit Down,NaN,27.0,725.0,0.0,S&S,Timber Falls,status.closed.definitely
8,Balder,Wooden,Sit Down,90.0,36.0,1070.0,0.0,Intamin,Liseberg,status.operating
9,Banshee,Steel,Inverted,110.0,51.0,1260.0,7.0,B&M,Kings Island,status.operating
10,Beast,Wooden,Sit Down,104.0,34.0,2243.0,0.0,Charlie Dinn,Kings Island,status.operating

In [208]:
df_coaster_metrics.columns

Index(['Name', 'material_type', 'seating_type', 'speed', 'height', 'length',
       'num_inversions', 'manufacturer', 'Park', 'status'],
      dtype='object')

In [209]:
df_coaster_metrics.dtypes

Name               object
material_type      object
seating_type       object
speed             float64
height            float64
length            float64
num_inversions    float64
manufacturer       object
Park               object
status             object
dtype: object

In [210]:
df_coaster_metrics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 272 entries, 1 to 272
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            272 non-null    object
 1   material_type   272 non-null    object
 2   seating_type    272 non-null    object
 3   speed           223 non-null    float64
 4   height          240 non-null    float64
 5   length          233 non-null    float64
 6   num_inversions  261 non-null    float64
 7   manufacturer    272 non-null    object
 8   Park            272 non-null    object
 9   status          272 non-null    object
dtypes: float64(4), object(6)
memory usage: 23.4+ KB

In [211]:
df_coaster_metrics.describe()

            speed      height       length  num_inversions
count  223.000000  240.000000   233.000000      261.000000
mean    94.174888   39.292167  1066.684378        1.122605
std     25.295032   20.540048   402.945595        2.040057
min     39.000000    5.000000   233.000000        0.000000
25%     80.000000   26.000000   832.000000        0.000000
50%     92.000000   34.000000  1024.000000        0.000000
75%    111.000000   51.000000  1283.000000        2.000000
max    206.000000  139.000000  2479.000000        9.000000

##### Park Locations:

In [212]:
print_shape(df_park_locations)

Dataset shape: (91, 5)
No. of rows: 91
No. of columns: 5

In [213]:
df_park_locations.head(10)

,Park,City,State,Country,Zip_Code
Park_ID,,,,,
1,Cedar Point,Sandusky,Ohio,United States,44870
2,Kings Island,Mason,Ohio,United States,45040
3,Holiday World,Santa Claus,Indiana,United States,47579
4,Six Flags Great Adventure,Jackson,New Jersey,United States,08527
5,Knoebels Amusement Resort,Elysburg,Pennsylvania,United States,17824
6,Busch Gardens Williamsburg,Williamsburg,Virginia,United States,23185
7,Kennywood,West Mifflin,Pennsylvania,United States,15122
8,Liseberg,Gothenburg,Västra Götalands,Sweden,402 22
9,Carowinds,Charlotte,North Carolina,United States,28273
10,Dollywood,Pigeon Forge,Tennessee,United States,37863

In [214]:
df_park_locations.columns

Index(['Park', 'City', 'State', 'Country', 'Zip_Code'], dtype='object')

In [215]:
df_park_locations.dtypes

Park        object
City        object
State       object
Country     object
Zip_Code    object
dtype: object

In [216]:
df_park_locations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91 entries, 1 to 91
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Park      91 non-null     object
 1   City      91 non-null     object
 2   State     91 non-null     object
 3   Country   91 non-null     object
 4   Zip_Code  91 non-null     object
dtypes: object(5)
memory usage: 4.3+ KB

In [217]:
df_park_locations.describe()

               Park     City       State        Country Zip_Code
count            91       91          91             91       91
unique           91       85          56             19       88
top     Cedar Point  Orlando  California  United States    92802
freq              1        3           7             56        2

##### Wood Coasters:

In [218]:
print_shape(df_wood_coasters)

Dataset shape: (605, 8)
No. of rows: 605
No. of columns: 8

In [219]:
df_wood_coasters.head(10)

,Rank,Year_of_Rank,Award_Category,Name,Park,Location,Supplier,Year_Built
0,1,2022,Wooden,Phoenix,Knoebels Amusement Resort,"Elysburg, Pennsylvania",Dinn-PTC/Shmeck,1985
1,2,2022,Wooden,Voyage,Holiday World,"Santa Claus, Indiana",The Gravity Group,2006
2,3,2022,Wooden,El Toro,Six Flags Great Adventure,"Jackson, New Jersey",Intamin,2006
3,4,2022,Wooden,Boulder Dash,Lake Compounce,"Bristol, Connecticut",Custom Coasters Int.,2000
4,5,2022,Wooden,Beast,Kings Island,"Mason, Ohio",KECO,1979
5,6,2022,Wooden,Mystic Timbers,Kings Island,"Mason, Ohio",Great Coasters Int.,2017
6,7,2022,Wooden,Ravine Flyer II,Waldameer,"Erie, Pennsylvania",The Gravity Group,2008
7,8,2022,Wooden,GhostRider,Knott's Berry Farm,"Buena Park, California",Custom Coasters/GCII,1998
8,9,2022,Wooden,Outlaw Run,Silver Dollar City,"Branson, Missouri",Rocky Mountain Const.,2013
9,10,2022,Wooden,Thunderhead,Dollywood,"Pigeon Forge, Tennessee",Great Coasters Int.,2004

In [220]:
df_wood_coasters.columns

Index(['Rank', 'Year_of_Rank', 'Award_Category', 'Name', 'Park', 'Location',
       'Supplier', 'Year_Built'],
      dtype='object')

In [221]:
df_wood_coasters.dtypes

Rank               int64
Year_of_Rank      object
Award_Category    object
Name              object
Park              object
Location          object
Supplier          object
Year_Built        object
dtype: object

In [222]:
df_wood_coasters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605 entries, 0 to 604
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            605 non-null    int64
 1   Year_of_Rank    605 non-null    object
 2   Award_Category  605 non-null    object
 3   Name            605 non-null    object
 4   Park            605 non-null    object
 5   Location        605 non-null    object
 6   Supplier        605 non-null    object
 7   Year_Built      605 non-null    object
dtypes: int64(1), object(7)
memory usage: 37.9+ KB

In [223]:
df_wood_coasters.describe()

             Rank
count  605.000000
mean    25.433058
std     14.430499
min      1.000000
25%     13.000000
50%     25.000000
75%     38.000000
max     50.000000

##### Steel Coasters:

In [224]:
print_shape(df_steel_coasters)

Dataset shape: (605, 8)
No. of rows: 605
No. of columns: 8

In [225]:
df_steel_coasters.head(10)

,Rank,Year_of_Rank,Award_Category,Name,Park,Location,Supplier,Year_Built
0,1,2022,Steel,Fury 325,Carowinds,"Charlotte, North Carolina",B&M,2015
1,2,2022,Steel,Steel Vengeance,Cedar Point,"Sandusky, Ohio",Rocky Mountain Const.,2018
2,3,2022,Steel,Millennium Force,Cedar Point,"Sandusky, Ohio",Intamin,2000
3,4,2022,Steel,Iron Gwazi,Busch Gardens Tampa,"Tampa, Florida",Rocky Mountain Const.,2022
4,5,2022,Steel,Jurassic World VelociCoaster,Universal's Islands of Adventure,"Orlando, Florida",Intamin,2021
5,6,2022,Steel,Expedition GeForce,Holiday Park,"Hassloch, Germany",Intamin,2001
6,7,2022,Steel,Superman The Ride,Six Flags New England,"Agawam, Massachusetts",Intamin,2000
7,8,2022,Steel,Apollo's Chariot,Busch Gardens Williamsburg,"Williamsburg, Virginia",B&M,1999
8,9,2022,Steel,Intimidator 305,Kings Dominion,"Doswell, Virginia",Intamin,2010
9,10,2022,Steel,Maverick,Cedar Point,"Sandusky, Ohio",Intamin,2007

In [226]:
df_steel_coasters.columns

Index(['Rank', 'Year_of_Rank', 'Award_Category', 'Name', 'Park', 'Location',
       'Supplier', 'Year_Built'],
      dtype='object')

In [227]:
df_steel_coasters.dtypes

Rank               int64
Year_of_Rank      object
Award_Category    object
Name              object
Park              object
Location          object
Supplier          object
Year_Built        object
dtype: object

In [228]:
df_steel_coasters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605 entries, 0 to 604
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            605 non-null    int64
 1   Year_of_Rank    605 non-null    object
 2   Award_Category  605 non-null    object
 3   Name            605 non-null    object
 4   Park            605 non-null    object
 5   Location        605 non-null    object
 6   Supplier        605 non-null    object
 7   Year_Built      605 non-null    object
dtypes: int64(1), object(7)
memory usage: 37.9+ KB

In [229]:
df_steel_coasters.describe()

             Rank
count  605.000000
mean    25.462810
std     14.378885
min      1.000000
25%     13.000000
50%     26.000000
75%     38.000000
max     50.000000

#### Step 3: Data Prep

##### Renaming, reindexing, missing values, duplicate values, merging/joining tables into one

##### Coaster Metrics:

In [230]:
df_coaster_metrics = df_coaster_metrics.rename(columns= {
                                                    'Name': 'coaster_name',
                                                    'Park': 'park_name' # link this w/ df_park_locations
                                                    })

df_coaster_metrics = df_coaster_metrics.reindex(columns=[
                                                    'coaster_name',
                                                    'status',
                                                    'speed',
                                                    'height',
                                                    'length',
                                                    'num_inversions',
                                                    'material_type',
                                                    'manufacturer',
                                                    'seating_type',
                                                    'park_name'
                                                    ])

df_coaster_metrics.info()
# df_coaster_metrics.sort_values(by= 'coaster_name')

# df_coaster_metrics.duplicated(subset= ['coaster_name']).sum()

# duplicates = df_coaster_metrics[df_coaster_metrics['coaster_name'].duplicated()]
# print(duplicates)

# df_coaster_metrics.isna()
# df_coaster_metrics.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 272 entries, 1 to 272
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   coaster_name    272 non-null    object
 1   status          272 non-null    object
 2   speed           223 non-null    float64
 3   height          240 non-null    float64
 4   length          233 non-null    float64
 5   num_inversions  261 non-null    float64
 6   material_type   272 non-null    object
 7   manufacturer    272 non-null    object
 8   seating_type    272 non-null    object
 9   park_name       272 non-null    object
dtypes: float64(4), object(6)
memory usage: 23.4+ KB

##### Park Locations:

In [231]:
df_park_locations = df_park_locations.rename(columns= {
                                                    'Park': 'park_name', # link this w/ df_coaster_metrics
                                                    'City': 'city',
                                                    'State': 'state',
                                                    'Country': 'country',
                                                    'Zip_Code': 'zip_code'
                                                    })

df_park_locations.info()

# df_park_locations.duplicated(subset= ['park_name']).sum()

# df_park_locations.isna()
# df_park_locations.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91 entries, 1 to 91
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   park_name  91 non-null     object
 1   city       91 non-null     object
 2   state      91 non-null     object
 3   country    91 non-null     object
 4   zip_code   91 non-null     object
dtypes: object(5)
memory usage: 4.3+ KB

##### Wood Coasters:

In [232]:
df_wood_coasters.head()

# we can drop 'Location' column as we won't be needing that data as it's in other tables available that will be merged/joined

,Rank,Year_of_Rank,Award_Category,Name,Park,Location,Supplier,Year_Built
0,1,2022,Wooden,Phoenix,Knoebels Amusement Resort,"Elysburg, Pennsylvania",Dinn-PTC/Shmeck,1985
1,2,2022,Wooden,Voyage,Holiday World,"Santa Claus, Indiana",The Gravity Group,2006
2,3,2022,Wooden,El Toro,Six Flags Great Adventure,"Jackson, New Jersey",Intamin,2006
3,4,2022,Wooden,Boulder Dash,Lake Compounce,"Bristol, Connecticut",Custom Coasters Int.,2000
4,5,2022,Wooden,Beast,Kings Island,"Mason, Ohio",KECO,1979

In [233]:
df_wood_coasters = df_wood_coasters.drop(columns= 'Location')
df_wood_coasters.head()

,Rank,Year_of_Rank,Award_Category,Name,Park,Supplier,Year_Built
0,1,2022,Wooden,Phoenix,Knoebels Amusement Resort,Dinn-PTC/Shmeck,1985
1,2,2022,Wooden,Voyage,Holiday World,The Gravity Group,2006
2,3,2022,Wooden,El Toro,Six Flags Great Adventure,Intamin,2006
3,4,2022,Wooden,Boulder Dash,Lake Compounce,Custom Coasters Int.,2000
4,5,2022,Wooden,Beast,Kings Island,KECO,1979

In [234]:
df_wood_coasters = df_wood_coasters.rename(columns= {
                                                    'Rank': 'rank',
                                                    'Year_of_Rank': 'year_ranked',
                                                    'Award_Category': 'material_type',
                                                    'Name': 'coaster_name', # this column should be used to link with data from coaster_metrics joined w/ park_location
                                                    'Park': 'park_name',
                                                    'Supplier': 'supplier',
                                                    'Year_Built': 'year_built'
                                                    })
df_wood_coasters.info()

# there will be many duplicates in here, no need to check. and whether there are empty values, I'd rather keep the data that I do have

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605 entries, 0 to 604
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   rank           605 non-null    int64
 1   year_ranked    605 non-null    object
 2   material_type  605 non-null    object
 3   coaster_name   605 non-null    object
 4   park_name      605 non-null    object
 5   supplier       605 non-null    object
 6   year_built     605 non-null    object
dtypes: int64(1), object(6)
memory usage: 33.2+ KB

##### Steel Coasters:

In [235]:
df_steel_coasters.head()
# same thing as with wood coasters, we can drop 'Location' column

,Rank,Year_of_Rank,Award_Category,Name,Park,Location,Supplier,Year_Built
0,1,2022,Steel,Fury 325,Carowinds,"Charlotte, North Carolina",B&M,2015
1,2,2022,Steel,Steel Vengeance,Cedar Point,"Sandusky, Ohio",Rocky Mountain Const.,2018
2,3,2022,Steel,Millennium Force,Cedar Point,"Sandusky, Ohio",Intamin,2000
3,4,2022,Steel,Iron Gwazi,Busch Gardens Tampa,"Tampa, Florida",Rocky Mountain Const.,2022
4,5,2022,Steel,Jurassic World VelociCoaster,Universal's Islands of Adventure,"Orlando, Florida",Intamin,2021

In [236]:
df_steel_coasters = df_steel_coasters.drop(columns= 'Location')
df_steel_coasters.head()

,Rank,Year_of_Rank,Award_Category,Name,Park,Supplier,Year_Built
0,1,2022,Steel,Fury 325,Carowinds,B&M,2015
1,2,2022,Steel,Steel Vengeance,Cedar Point,Rocky Mountain Const.,2018
2,3,2022,Steel,Millennium Force,Cedar Point,Intamin,2000
3,4,2022,Steel,Iron Gwazi,Busch Gardens Tampa,Rocky Mountain Const.,2022
4,5,2022,Steel,Jurassic World VelociCoaster,Universal's Islands of Adventure,Intamin,2021

In [237]:
df_steel_coasters = df_steel_coasters.rename(columns= {
                                                    'Rank': 'rank',
                                                    'Year_of_Rank': 'year_ranked',
                                                    'Award_Category': 'material_type',
                                                    'Name': 'coaster_name', # this column should be used to link with data from coaster_metrics joined w/ park_location
                                                    'Park': 'park_name',
                                                    'Supplier': 'supplier',
                                                    'Year_Built': 'year_built'
                                                    })
df_steel_coasters.info()

# there will be many duplicates in here, no need to check. and whether there are empty values, I'd rather keep the data that I do have

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605 entries, 0 to 604
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   rank           605 non-null    int64
 1   year_ranked    605 non-null    object
 2   material_type  605 non-null    object
 3   coaster_name   605 non-null    object
 4   park_name      605 non-null    object
 5   supplier       605 non-null    object
 6   year_built     605 non-null    object
dtypes: int64(1), object(6)
memory usage: 33.2+ KB

##### Merging/Joining Data Tables

In [238]:
# merging df_coaster_metrics and df_park_locations using 'park_name' column
# want to use how= 'left' because i want to keep each and every coaster_metric so i can hopefully match it with the wooden and steel coasters

df = pd.merge(df_coaster_metrics, df_park_locations, on= 'park_name', how= 'left')
# df.info()
# df.head()

result = df[df['coaster_name'] == 'Phoenix']
print(result)

    coaster_name            status  speed  height  length  num_inversions  \
140      Phoenix  status.operating   72.0    24.0   975.0             0.0
141      Phoenix  status.operating   65.0    15.0     NaN             0.0

    material_type                   manufacturer seating_type  \
140        Wooden  Philadelphia Toboggan Coaster     Sit Down
141         Steel                         Maurer     Spinning

                     park_name      city         state        country zip_code
140  Knoebels Amusement Resort  Elysburg  Pennsylvania  United States    17824
141              Adventureland       NaN           NaN            NaN      NaN

In [239]:
# wood coasters w/ metrics: 
# merging df with df_wood_coasters on= 'coaster_name', 'material_type', 'park_name'
# how= 'left'
# want to do a left join on df_wood_coasters because that's the data I'm primarily focused on...getting ranking & number of times ranked along with the metrics attached

df_wood = pd.merge(df_wood_coasters, df, on= ['coaster_name', 'material_type', 'park_name'], how= 'left')
df_wood.info()
df_wood.head(30)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 605 entries, 0 to 604
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rank            605 non-null    int64
 1   year_ranked     605 non-null    object
 2   material_type   605 non-null    object
 3   coaster_name    605 non-null    object
 4   park_name       605 non-null    object
 5   supplier        605 non-null    object
 6   year_built      605 non-null    object
 7   status          481 non-null    object
 8   speed           443 non-null    float64
 9   height          465 non-null    float64
 10  length          472 non-null    float64
 11  num_inversions  472 non-null    float64
 12  manufacturer    481 non-null    object
 13  seating_type    481 non-null    object
 14  city            480 non-null    object
 15  state           480 non-null    object
 16  country         480 non-null    object
 17  zip_code        480 non-null    object
dtypes: float64(4), int64(1), object(13)
memory usage: 89.8+ KB

,rank,year_ranked,material_type,coaster_name,park_name,supplier,year_built,status,speed,height,length,num_inversions,manufacturer,seating_type,city,state,country,zip_code
0,1,2022,Wooden,Phoenix,Knoebels Amusement Resort,Dinn-PTC/Shmeck,1985,status.operating,72.0,24.00,975.0,0.0,Philadelphia Toboggan Coaster,Sit Down,Elysburg,Pennsylvania,United States,17824
1,2,2022,Wooden,Voyage,Holiday World,The Gravity Group,2006,status.operating,108.0,49.00,1963.0,0.0,Gravity Group,Sit Down,Santa Claus,Indiana,United States,47579
2,3,2022,Wooden,El Toro,Six Flags Great Adventure,Intamin,2006,status.operating,113.0,55.00,1341.0,0.0,Intamin,Sit Down,Jackson,New Jersey,United States,08527
3,4,2022,Wooden,Boulder Dash,Lake Compounce,Custom Coasters Int.,2000,status.operating,97.0,35.00,1440.0,0.0,CCI,Sit Down,Bristol,Connecticut,United States,06010
4,5,2022,Wooden,Beast,Kings Island,KECO,1979,status.operating,104.0,34.00,2243.0,0.0,Charlie Dinn,Sit Down,Mason,Ohio,United States,45040
5,6,2022,Wooden,Mystic Timbers,Kings Island,Great Coasters Int.,2017,status.operating,85.0,33.00,995.0,0.0,GCI,Sit Down,Mason,Ohio,United States,45040
6,7,2022,Wooden,Ravine Flyer II,Waldameer,The Gravity Group,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,2022,Wooden,GhostRider,Knott's Berry Farm,Custom Coasters/GCII,1998,status.operating,90.0,36.00,1382.0,0.0,GCI,Sit Down,Buena Park,California,United States,90620
8,9,2022,Wooden,Outlaw Run,Silver Dollar City,Rocky Mountain Const.,2013,status.operating,110.0,50.00,NaN,2.0,RMC,Sit Down,Branson,Missouri,United States,65616
9,10,2022,Wooden,Thunderhead,Dollywood,Great Coasters Int.,2004,status.operating,89.0,31.00,985.0,0.0,GCI,Sit Down,Pigeon Forge,Tennessee,United States,37863
10,11,2022,Wooden,Gold Striker,California's Great America,Great Coasters Int.,2013,status.operating,87.0,33.00,975.0,0.0,GCI,Sit Down,Santa Clara,California,United States,95054
11,12,2022,Wooden,Jack Rabbit,Kennywood,Miller,1920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,2022,Wooden,Wodan,Europa-Park,Great Coasters Int.,2012,status.operating,100.0,35.00,1050.0,0.0,GCI,Sit Down,Rust,Baden-Württemberg,Germany,77977
13,14,2022,Wooden,Lightning Racer,Hersheypark,Great Coasters Int.,2000,status.operating,82.0,27.00,1036.0,0.0,GCI,Sit Down,Hershey,Pennsylvania,United States,17033
14,15,2022,Wooden,Wildfire,Kolmården,Rocky Mountain Const.,2016,status.operating,113.0,57.00,1300.0,3.0,RMC,Sit Down,Kolmården,Östergötlands,Sweden,618 92
15,16,2022,Wooden,Troy,Toverland,Great Coasters Int.,2007,status.operating,87.0,32.00,1077.0,0.0,GCI,Sit Down,Sevenum,Limburg,Netherlands,5975
16,17,2022,Wooden,Cyclone,Coney Island,Baker/Keenan,1927,status.operating,97.0,26.00,869.0,0.0,na,Sit Down,Brooklyn,New York,United States,11224
17,18,2022,Wooden,Balder,Liseberg,Intamin,2003,status.operating,90.0,36.00,1070.0,0.0,Intamin,Sit Down,Gothenburg,Västra Götalands,Sweden,402 22
18,19,2022,Wooden,Shivering Timbers,Michigan's Adventure,Custom Coasters Int.,1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,2022,Wooden,Thunderbolt,Kennywood,Vettel/Miller,1968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,2022,Wooden,Boardwalk Bullet,Kemah Boardwalk,The Gravity Group/M&V,2007,status.operating,82.0,29.00,986.0,0.0,Gravity Group,Sit Down,Kemah,Texas,United States,77565
21,22,2022,Wooden,Legend,Holiday World,Custom Coasters Int.,2000,status.operating,93.0,35.00,1232.0,0.0,CCI,Sit Down,Santa Claus,Indiana,United States,47579
22,23,2022,Wooden,Comet,Six Flags Great Escape,PTC/Schmeck,1994,status.operating,89.0,29.00,1279.0,0.0,Philadelphia Toboggan Coaster,Sit Down,Queensbury,New York,United States,12804
23,24,2022,Wooden,Raven,Holiday World,Custom Coasters Int.,1995,status.operating,77.0,33.00,832.0,0.0,CCI,Sit Down,Santa Claus,Indiana,United States,47579
24,25,2022,Wooden,Colossos,Heide Park,Intamin,2001,status.operating,110.0,51.00,1500.0,0.0,Intamin,Sit Down,Soltau,Lower Saxony,Germany,29614
25,26,2022,Wooden,Goliath,Six Flags Great America,Rocky Mountain Const.,2014,status.operating,115.0,55.00,950.0,2.0,RMC,Sit Down,Gurnee,Illinois,United States,60031
26,27,2022,Wooden,Texas Stingray,SeaWorld San Antonio,Great Coasters Int.,2020,status.operating,55.0,30.48,1029.9,0.0,GCI,Sit Down,San Antonio,Texas,United States,78251
27,28,2022,Wooden,Flying Turns,Knoebels Amusement Resort,Fetterman,2014,status.operating,39.0,15.00,396.0,0.0,Knoebels,Bobsleigh,Elysburg,Pennsylvania,United States,17824
28,29,2022,Wooden,Playland Wooden Coaster,PNE Playland,Phare,1958,status.operating,75.0,20.00,865.0,0.0,na,Sit Down,Vancouver,British Columbia,Canada,V5K 5J1
29,30,2022,Wooden,Prowler,Worlds of Fun,Great Coasters Int.,2009,status.operating,82.0,31.00,937.0,0.0,GCI,Sit Down,Kansas City,Missouri,United States,64161

In [240]:
counts = df_wood['year_ranked'].value_counts()
# print(counts)
df_wood['year_ranked'] = df_wood['year_ranked'].replace("'14", 2014)
counts = df_wood['year_ranked'].value_counts()
# print(counts)

In [241]:
# steel coasters w/ metrics: 
# merging df with df_steel_coasters on= 'coaster_name', 'material_type', 'park_name'
# how= 'left'
# want to do a left join on df_steel_coasters because that's the data I'm primarily focused on...getting ranking & number of times ranked 

df_steel = pd.merge(df_steel_coasters, df, on= ['coaster_name', 'material_type', 'park_name'], how= 'left')
df_steel.info()
df_steel.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 605 entries, 0 to 604
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rank            605 non-null    int64
 1   year_ranked     605 non-null    object
 2   material_type   605 non-null    object
 3   coaster_name    605 non-null    object
 4   park_name       605 non-null    object
 5   supplier        605 non-null    object
 6   year_built      605 non-null    object
 7   status          548 non-null    object
 8   speed           547 non-null    float64
 9   height          544 non-null    float64
 10  length          522 non-null    float64
 11  num_inversions  548 non-null    float64
 12  manufacturer    548 non-null    object
 13  seating_type    548 non-null    object
 14  city            548 non-null    object
 15  state           548 non-null    object
 16  country         548 non-null    object
 17  zip_code        548 non-null    object
dtypes: float64(4), int64(1), object(13)
memory usage: 89.8+ KB

,rank,year_ranked,material_type,coaster_name,park_name,supplier,year_built,status,speed,height,length,num_inversions,manufacturer,seating_type,city,state,country,zip_code
0,1,2022,Steel,Fury 325,Carowinds,B&M,2015,status.operating,153.0,99.00,2012.00,0.0,B&M,Sit Down,Charlotte,North Carolina,United States,28273
1,2,2022,Steel,Steel Vengeance,Cedar Point,Rocky Mountain Const.,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2022,Steel,Millennium Force,Cedar Point,Intamin,2000,status.operating,150.0,94.00,2010.00,0.0,Intamin,Sit Down,Sandusky,Ohio,United States,44870
3,4,2022,Steel,Iron Gwazi,Busch Gardens Tampa,Rocky Mountain Const.,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2022,Steel,Jurassic World VelociCoaster,Universal's Islands of Adventure,Intamin,2021,status.operating,70.0,47.24,1432.56,4.0,Intamin,Sit Down,Orlando,Florida,United States,32819

In [242]:
counts = df_steel['year_ranked'].value_counts()
# print(counts)
df_steel['year_ranked'] = df_steel['year_ranked'].replace("'14", 2014)
counts = df_steel['year_ranked'].value_counts()
# print(counts)

#### Step 4: Correlation

In [243]:
# looks like height and speed are highly correlated on a steel coaster, no surprise, but as is speed and length and height and length, albeit less so

corr_matrix_na = df_wood.corr(method= 'pearson')
print(corr_matrix_na)
corr_matrix = df_wood.dropna().corr(method= 'pearson')
print(corr_matrix)

                    rank     speed    height    length  num_inversions
rank            1.000000 -0.400285 -0.348344 -0.408077       -0.132422
speed          -0.400285  1.000000  0.888492  0.746976        0.349603
height         -0.348344  0.888492  1.000000  0.695831        0.436046
length         -0.408077  0.746976  0.695831  1.000000        0.029233
num_inversions -0.132422  0.349603  0.436046  0.029233        1.000000
                    rank     speed    height    length  num_inversions
rank            1.000000 -0.358153 -0.284118 -0.357358       -0.043385
speed          -0.358153  1.000000  0.880316  0.738317        0.294290
height         -0.284118  0.880316  1.000000  0.681914        0.383213
length         -0.357358  0.738317  0.681914  1.000000        0.017107
num_inversions -0.043385  0.294290  0.383213  0.017107        1.000000

#### Step 5: Exports

In [244]:
# looks like height and speed are very highly correlated on a wooden coaster...no surprise there

corr_matrix_na = df_steel.corr(method= 'pearson')
print(corr_matrix_na)
corr_matrix = df_steel.dropna().corr(method= 'pearson')
print(corr_matrix)

                    rank     speed    height    length  num_inversions
rank            1.000000 -0.421471 -0.359345 -0.369333        0.249725
speed          -0.421471  1.000000  0.925151  0.358945       -0.365896
height         -0.359345  0.925151  1.000000  0.435823       -0.379201
length         -0.369333  0.358945  0.435823  1.000000       -0.378001
num_inversions  0.249725 -0.365896 -0.379201 -0.378001        1.000000
                    rank     speed    height    length  num_inversions
rank            1.000000 -0.413335 -0.351937 -0.366970        0.245763
speed          -0.413335  1.000000  0.924374  0.355291       -0.366228
height         -0.351937  0.924374  1.000000  0.434836       -0.385037
length         -0.366970  0.355291  0.434836  1.000000       -0.381539
num_inversions  0.245763 -0.366228 -0.385037 -0.381539        1.000000

In [245]:
# export to CSV file to use in Tableau

df_coaster_metrics.to_csv('coaster_metrics_final.csv', index= False)
df_park_locations.to_csv('park_locations_final.csv', index= False)
df_wood.to_csv('wood_coaster_metrics_final.csv', index= False)
df_steel.to_csv('steel_coaster_metrics_final.csv', index= False)